################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FactoryManagementSystem/.vs
/FactoryManagementSystem/bin
/FactoryManagementSystem/obj/Debug
/FactoryManagementSystem/packages
